@import "../styles/variables";
@import "../styles/constants";

.app__analytics {
  height: fit-content;
  background: $secondary-color;
  padding: 35% $md-gap 10% $md-gap;
  gap: 3rem;

  .analytics__grouper {
    @include flexAlign;

    .left__analytics {
      @include flexDirection;
      gap: $lg-gap;
      flex: 1;

      .left__text {
        @include flexDirection;
        gap: $lg-gap;

        h1 {
          font-size: 4rem;
          color: $primary-color;
        }

        p {
          color: $neutral-color;
          font-size: 1.3rem;
        }
      }

      .left__analytics-container {
        @include flexAlign;
        gap: $lg-gap;

        .analytics__container {
          @include flexAlign;
          flex-direction: column;
          gap: $lg-gap;
          cursor: pointer;
          color: $primary-color;
          font-weight: bold;

          .anlytics__icon {
            @include flexCenter;
            height: 180px;
            width: 180px;
            border-radius: 20px;
            background: $neutral;
            font-size: 2rem;
            transition: $trans;

            &:hover {
              background: $secondary-color;
              box-shadow: $shadow;
              background-image: linear-gradient(
                90deg,
                #7964de,
                #ad6ce5,
                #db75eb,
                #f395ae,
                #fab466
              );
              background-size: 100%;
              -webkit-background-clip: text;
              transition: $trans;
              -moz-background-clip: text;
              -webkit-text-fill-color: transparent;
              -moz-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .right__analytics {
      flex: 1;
      padding: 0.3rem;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      img {
        width: 80%;
        height: 100%;
      }
    }
  }
}
