@import "./variables";
@import "./constants";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Product Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
