$primary-color: #1e1f23;
$secondary-color: #17181c;
$acent-color: #27282f;
$b-color: #2c85f6;
$text-color: whitesmoke;
$gap: 2rem;
$sm-gap: 1rem;
$trans: 0.3s ease-in-out;
$border: 2px solid $acent-color;
