@import "./constant";
@import "./variables";

.app__dashboard {
  width: 70%;
  position: absolute;
  bottom: -80%;
  left: 0;
  right: 0;
  margin: auto;

  img {
    width: 100%;
    border-radius: 40px;
    box-shadow: $shadow;
  }
}
