:root {
  --yellow: #ffca40;
  --dark: black;
  --light_dark: #808080;
  --light: #f8f8f7;
  --white: white;
  --trans: 0.3s ease-in-out;
  --red: #8f170ace;
  --shadow: 5px 30px 40px rgba(128, 128, 128, 0.214);
  --border: 1px solid rgba(128, 128, 128, 0.243);
}

.outlet {
  float: right;
  width: calc(100% - 20rem);
  padding: 2rem;
  min-height: 100vh;
  background-color: var(--light);
}
